/* Medium Layout: 1280px. */
@media only screen and (min-width: 1900px) {
}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .single-sign {
    padding: 20px 15px;
  }
  .single-resource {
    padding: 70px;
  }

  .single-resource h4 {
    font-size: 18px;
  }

  .single-resource p {
    font-size: 14px;
  }
  .big-btn {
    font-size: 70px;
  }
}

/* Tablet Layout: 768px. */
@media only screen and (max-width: 991px) {
  .landing-wrapper .signboard::after {
    display: none;
  }

  .landing-wrapper {
    padding-bottom: 0px;
  }

  .landing-wrapper .signboard {
    padding-bottom: 50px;
  }

  .single-slide .col-lg-6 img {
    margin-top: 40px;
  }
  .ribbon-box .single-ribbon img {
    margin-top: 0px;
  }
  .billboard-img {
    position: relative;
    top: 0;
    right: 0;
  }

  .subcription-area.seven {
    padding-bottom: 350px;
  }

  .subcription-area {
    padding-bottom: 250px;
  }

  .slides .owl-dots {
    bottom: 300px;
  }
  .single-resource h4,
  .single-resource p {
    max-width: 200px;
  }
  .big-btn {
    font-size: 70px;
  }
  .landing-wrapper {
    background-image: url(../img/background-mobile.jpg);
    background-position: top center;
  }
  .single-sign {
    max-width: initial;
  }

  .landing-wrapper {
    padding-bottom: 50px;
  }

  .row.cta {
    margin-left: auto;
  }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .header::after {
    width: 50px;
    height: 50px;
  }

  .logo img {
    max-width: 120px;
  }

  .header .top-links {
    font-size: 11px;
    margin-top: 10px;
  }

  .logo {
    display: block;
    text-align: center;
  }

  .header .links {
    text-align: center;
  }

  .header .links a {
    font-size: 14px;
    padding: 8px 15px;
  }

  .landing-wrapper {
    padding: 30px 0px;
  }

  .title h2 {
    font-size: 26px;
  }

  .title h3 {
    font-size: 18px;
  }

  .landing-wrapper .title {
    padding-bottom: 0px;
  }

  .single-sign h4 {
    font-size: 22px;
  }

  .single-sign p {
    font-size: 16px;
  }

  .single-sign {
    min-height: auto;
    margin-top: 20px;
    max-width: 100%;
  }

  .isi.sticky .container .moduletable .custom {
    padding-right: 15px;
  }

  .header {
    padding: 15px 0px 10px;
  }
  .secondary-title {
    font-size: 20px;
  }

  .subcription-box h4 {
    font-size: 18px;
  }

  .subcription-box form {
    width: 100%;
  }

  .subcription-area {
    padding-bottom: 100px;
  }

  .subcription-area.seven {
    padding-bottom: 200px;
  }
  .single-resource {
    min-height: 300px;
    margin-top: 20px;
    padding: 50px;
  }

  .resources .bordered-btn {
    margin-top: 20px;
  }

  .resources {
    padding: 50px 0px;
  }

  .single-resource p {
    font-size: 13px;
  }

  .single-resource h4 {
    font-size: 20px;
  }
  .subcription-box label {
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 5px;
  }

  .subcription-box input {
    margin-bottom: 5px;
  }
  .signposts {
    padding: 50px 0px;
  }
  .shape {
    height: 50px;
  }

  .title.big h2 {
    font-size: 32px;
  }

  .quizwrap {
    min-height: auto;
    padding-bottom: 80px;
  }

  .big-btn {
    font-size: 24px;
    padding: 8px 15px;
  }
  .landing-wrapper h3 {
    font-size: 20px;
  }
  .landing-wrapper {
    background-image: url(../img/background-mobile.jpg);
    background-position: top center;
  }
  .ribbon-box .single-ribbon {
    padding-left: 80px;
    padding-top: 8px;
  }

  .ribbon-box .single-ribbon img {
    max-width: 80px;
    left: -20px;
  }
  .subcription-area.two {
    background-size: 100px;
  }
}
